@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/colors';

.basic {
  &-menu {
    font-family: 'Montserrat-600', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.525rem;
    color: $basic-menu;
  }

  &-graphics {
    font-family: 'Montserrat-700', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.745rem;
    letter-spacing: 0.05rem;
    color: $basic-grafics;
  }
}

.common {
  font-family: 'Montserrat-500', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.525rem;
  color: $common;
}

.systemic {
  font-family: 'Montserrat-500', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.525rem;
  color: $systemic;
}
